.im {
  border-radius: 50%;
  padding: 4px 10px;
  color: white;
  text-decoration: none;
  background-color: rgb(185, 120, 247);
  margin-right: 5px;
}
.background {
  background: #fcfcfc;
  background: linear-gradient(
    90deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(231, 213, 245, 1) 46%,
    rgba(188, 107, 250, 1) 100%
  );
}
.progress-bar {
  background-color: blueviolet;
}
.nav-pills .nav-link {
  color: white;
  background-color: none;
  padding: 0px 10px;
}
.nav-pills {
  background-color: #623d71;
  justify-content: end;
  cursor: pointer;
}
.cv {
  background-color: #623d71;
  color: white;
  border-radius: 5px;
  padding: 3px 15px;
  margin: 0px 5px;
}
.height {
  height: 94vh;
  overflow-y: auto;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #623d71;
}
.justifiedcenter {
  justify-content: center;
}
